@charset "UTF-8";
/* BASE */
/* Principalmente botones */
/* Titulos */
/* Subtitulos */
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Spartan", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
}

h1 {
  font-size: 3.125em;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 2.875em;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 1.25em;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 0.75em;
}

p {
  font-size: 1em;
  color: #465b52;
  margin: 0.9375em 0 1.25em 0;
}

.section-p1 {
  padding: 2.5em 6.25em;
}

.section-m1 {
  margin: 2.5em 0;
}

/* MIXINS */
/* COMPONENTS */
body::-webkit-scrollbar {
  width: 12px;
}
body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #f0f0f0;
  border-radius: 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.9375em 4.375em;
  background: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.07);
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0;
}
.header img {
  width: 8em;
  transition: transform 0.3s ease;
}
.header img:hover {
  transform: scale(1.1);
}

.nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav li {
  list-style: none;
  padding: 0.5em 2.3em 0em 2.3em;
  position: relative;
}
.nav li a {
  text-decoration: none;
  font-size: 1em;
  font-weight: 600;
  color: #1a1a1a;
  transition: font-size 0.3s ease;
}
.nav li a:hover, .nav li a.active {
  font-size: 1.1em;
  /* Nombre de la animación, duración, iteración y dirección */
  animation: active-animation 3s infinite alternate;
}

@keyframes active-animation {
  0% {
    color: #3498db;
    /* Color inicial */
  }
  50% {
    color: #e74c3c;
    /* Color intermedio */
  }
  100% {
    color: #2ecc71;
    /* Color final */
  }
}
.mobile {
  display: none;
  align-items: center;
}

#close {
  display: none;
}

button.normal {
  font-size: 0.9375em;
  font-weight: 600;
  padding: 0.9375em 1.875em;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
button.white {
  font-size: 0.8125em;
  font-weight: 600;
  padding: 0.625em 1.125em;
  color: #fff;
  background-color: transparent;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid #fff;
  outline: none;
  transition: 0.2s;
}

.feature {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.feature .feature__box {
  width: 180px;
  text-align: center;
  padding: 1.5625em 0.9375em;
  box-shadow: 20px 20px 35px rgba(0, 0, 0, 0.07);
  border: 1px solid rgb(112, 255, 172);
  border-radius: 5px;
  margin: 0.625em;
}
.feature .feature__box:hover {
  box-shadow: 10px 10px 54px rgba(88, 80, 190, 0.2);
}
.feature .feature__box img {
  width: 100%;
  margin-bottom: 0.625em;
}
.feature .feature__box h6 {
  display: inline-block;
  padding: 0.5625em 0.5em 0.375em 0.5em;
  line-height: 1;
  border-radius: 5px;
  color: #1a1a1a;
  background-color: #ffbecb;
}
.feature .feature__box:nth-child(2) h6 {
  background-color: #cff5ba;
}
.feature .feature__box:nth-child(3) h6 {
  background-color: #bfe7f8;
}
.feature .feature__box:nth-child(4) h6 {
  background-color: #c5ceff;
}
.feature .feature__box:nth-child(5) h6 {
  background-color: #fcd1fc;
}
.feature .feature__box:nth-child(6) h6 {
  background-color: #fff372;
}

.product1 {
  text-align: center;
}
.product1 .product-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.25em;
  flex-wrap: wrap;
}
.product1 .product {
  width: 23%;
  min-width: 250px;
  padding: 0.625em 0.75em;
  border: 1px solid rgb(112, 255, 172);
  border-radius: 25px;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 0.9375em 0;
  transition: 0.2s ease;
  position: relative;
}
.product1 .product:hover {
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.07);
}
.product1 .product img {
  width: 100%;
  border-radius: 20px;
}
.product1 .product .product__description {
  text-align: start;
  padding: 0.625em 0;
}
.product1 .product .product__description span {
  color: #060606;
  font-size: 0.75em;
}
.product1 .product .product__description h5 {
  padding-top: 0.4375em;
  color: #1a1a1a;
  font-size: 0.875em;
}
.product1 .product .product__description i {
  font-size: 0.75em;
  color: rgb(243, 181, 25);
}
.product1 .product .product__description h4 {
  padding-top: 0.4375em;
  font-size: 0.9375em;
  font-weight: 700;
  color: #4d00b3;
}
.product1 .product .cart {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8e8e8;
  color: #4d00b3;
  border: 1px solid rgb(112, 255, 172);
  position: absolute;
  bottom: 1.25em;
  right: 0.625em;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url(../img/banner/b14.png);
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}
.newsletter h4 {
  font-size: 1.375em;
  font-weight: 700;
  color: #fff;
}
.newsletter p {
  font-size: 0.875em;
  font-weight: 600;
  color: #818ea0;
}
.newsletter p span {
  color: #ffbd27;
}
.newsletter .newsletter__form {
  display: flex;
  width: 40%;
}
.newsletter input {
  height: 3rem;
  padding: 0 1.25rem;
  font-size: 0.875em;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.newsletter button {
  background-color: #ffbd27;
  color: #fff;
  white-space: nowrap;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.875em;
  margin-bottom: 1.25em;
}
.footer h4 {
  font-size: 0.875em;
  padding-bottom: 1.25em;
}
.footer p {
  font-size: 0.8125em;
  margin: 0 0 0.5em 0;
}
.footer a {
  font-size: 0.8125em;
  text-decoration: none;
  color: #222;
  margin-bottom: 0.625em;
}
.footer .footer__social {
  margin-top: 1.25em;
}
.footer .footer__social i {
  color: #465b52;
  padding-right: 0.3125em;
  cursor: pointer;
}
.footer .footer__social i:hover {
  color: #4d00b3;
}
.footer a:hover {
  color: #4d00b3;
}
.footer .footer__install img {
  margin: 0.625em 0 0.9375em 0;
}
.footer .footer__install .row img {
  border: 1px solid #4d00b3;
  border-radius: 5px;
}

/* PAGES */
/* HERO */
.hero {
  background-image: url(../img/hero4.jpg);
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 10%;
  padding: 0 5em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.hero h4 {
  padding-bottom: 15px;
}
.hero h1 {
  color: #4d00b3;
}
.hero p {
  font-weight: bold;
}
.hero button {
  background-image: url(../img/button.png);
  background-color: transparent;
  color: #4d00b3;
  border: 0;
  padding: 0.9375em 5em 0.9375em 3.125em;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.9375em;
}

/* BANNER */
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url(../img/banner/b2.jpg);
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
.banner h4 {
  color: #fff;
  font-size: 1em;
}
.banner h2 {
  color: #fff;
  font-size: 1.875em;
  padding: 0.625em 0;
}
.banner h2 span {
  color: #ef3636;
}
.banner button:hover {
  background-color: #4d00b3;
  color: #fff;
}

/* TWO SMALLS BANNERS */
.sm-banner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sm-banner .banner-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-image: url(../img/banner/b17.jpg);
  min-width: 700px;
  height: 40vh;
  background-size: cover;
  background-position: center;
  padding: 1.875em;
  margin: 2.5em 0.9375em;
  border-radius: 15px;
}
.sm-banner h4 {
  color: #fff;
  font-size: 1.25em;
  font-weight: 300;
}
.sm-banner h2 {
  color: #fff;
  font-size: 1.75em;
  font-weight: 800;
}
.sm-banner p {
  color: #fff;
  font-size: 0.875em;
  font-weight: 500;
  padding-bottom: 0.9375em;
}
.sm-banner .banner-box:hover button {
  background: #4d00b3;
  border: 1px solid #4d00b3;
}
.sm-banner .banner-box2 {
  background-image: url(../img/banner/b10.jpg);
}

/* BANNER */
.nav-bootstrap {
  display: block;
}

.shop-banner {
  background-image: url(../img/banner/b1.jpg);
  background-size: cover;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 15px;
}
.shop-banner h2,
.shop-banner p {
  font-weight: bold;
}

.product h5 {
  font-weight: bold;
}

/* PAGINATION */
.shop-pagination {
  display: flex;
  justify-content: center;
}

.pagination a {
  text-decoration: none;
  background-color: #4d00b3;
  padding: 0.8em 1.25em;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
}

.newsletter-bootstrap .newsletter__form {
  width: 40%;
}
.newsletter-bootstrap button {
  padding: 10px 25px;
}

.footer-bootstrap h4 {
  font-weight: bold;
}
.footer-bootstrap .row {
  margin: 10px 0;
}
.footer-bootstrap .row img {
  width: 175px;
  padding: 0 0.3em;
  margin: 0.3em;
}

/* BANNER */
.about-banner {
  background-image: url(../img/banner/b19.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 15px;
}
.about-banner p {
  font-weight: bold;
}

/* PRINCIPAL */
.about-principal {
  display: flex;
  align-items: center;
}
.about-principal div {
  padding-left: 2.5em;
}
.about-principal img {
  width: 45%;
  height: auto;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
}
.about-principal h2 {
  font-size: 2.1875em;
}
.about-principal p {
  font-size: 1.2em;
}

/* APP */
.about-app {
  text-align: center;
}

.about-app__video {
  width: 70%;
  height: 100%;
  margin: 1.875em auto 0 auto;
}

.about-app h2 {
  margin-top: 2.1875em;
  font-size: 2.5em;
}
.about-app a {
  color: #4d00b3;
}

.about-app__video video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* BANNER */
.contact-banner {
  background-image: url(../img/banner/b3.png);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.9375em;
}
.contact-banner p {
  font-weight: bold;
}

/* DETAILS */
.contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contact-details .details {
  width: 40%;
}
.contact-details h2 {
  font-size: 1.5625em;
  line-height: 35px;
  padding: 1.25em 0;
}

.contact-form form h2 {
  font-size: 1.5625em;
  line-height: 35px;
  padding: 1.25em 0;
}

.contact-details h3 {
  font-size: 0.9375em;
  padding-bottom: 0.9375em;
}
.contact-details .details li {
  list-style: none;
  display: flex;
  padding: 0.625em 0;
}
.contact-details .details li i {
  font-size: 0.9375em;
  padding-right: 1.25em;
}
.contact-details .details li p {
  margin: 0;
  font-size: 0.8125em;
}

/* MAP */
.contact-details__map {
  width: 55%;
  height: 400px;
  border: 2px solid #1a1a1a;
  border-radius: 10px;
}
.contact-details__map iframe {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

/* FORM */
.contact-form {
  display: flex;
  justify-content: center;
  border-top: 2px solid rgba(0, 0, 0, 0.3);
  margin-top: 1.5625em;
}
.contact-form form {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 1.5625em 0;
}
.contact-form form input,
.contact-form form textarea {
  width: 100%;
  padding: 0.75em 0.9375em;
  outline: none;
  margin-bottom: 1.25em;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  resize: none;
}
.contact-form form button {
  background-color: #4d00b3;
  color: #fff;
}

/* BANNER */
.cart-banner {
  background-image: url(../img/banner/b16.jpg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.9375em;
}
.cart-banner p {
  font-weight: bold;
}

/* PRODUCTS */
.cart-products {
  overflow-x: auto;
  margin: 3.125em 0;
}
.cart-products table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}
.cart-products table td:nth-child(1) {
  width: 100px;
  text-align: center;
}
.cart-products table td:nth-child(2) {
  width: 150px;
  text-align: center;
}
.cart-products table td:nth-child(3) {
  width: 250px;
  text-align: center;
}
.cart-products table td:nth-child(4), .cart-products table td:nth-child(5), .cart-products table td:nth-child(6) {
  width: 150px;
  text-align: center;
}
.cart-products table td:nth-child(5) input {
  width: 70px;
  padding: 0.625em 1.25em;
}
.cart-products table thead {
  border: 1px solid #e0e7df;
  border-left: none;
  border-right: none;
}
.cart-products table thead td {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9375em;
  padding: 0.9375em 0;
}
.cart-products table tbody tr td {
  padding-top: 0.9375em;
}
.cart-products table tbody td {
  font-size: 0.8125em;
}
.cart-products i {
  font-size: 1.25em;
}
.cart-products table img {
  width: 80px;
}
.cart-products button {
  background-color: #4d00b3;
  color: #fff;
}

/* RESPONSIVE */
@media (max-width: 500px) {
  .section-p1 {
    padding: 1.25em;
  }
  .header {
    padding: 0.625em 1.875em;
  }
  h1 {
    font-size: 2.1875em;
    line-height: 45px;
  }
  h2 {
    font-size: 1.875em;
    line-height: 45px;
  }
  .hero {
    padding: 0 1.25em;
    background-position: 55%;
  }
  .feature {
    justify-content: space-around;
  }
  .feature .feature__box {
    width: 150px;
    margin: 0 0 0.9375em 0;
  }
  .product1 .product {
    width: 100%;
  }
  .banner,
  .sm-banner .banner-box {
    height: 50vh;
  }
  .newsletter {
    padding: 2.5em 1.25em;
  }
  .newsletter .newsletter__form {
    width: 100%;
  }
  .about-principal div {
    padding-left: 0;
  }
  .about-app__video {
    width: 100%;
  }
  .contact-banner {
    background-image: url(../img/banner/b3.png);
    background-size: cover;
    background-position: 65%;
  }
  .contact-details {
    flex-direction: column;
  }
  .contact-details .details {
    width: 85%;
  }
  .contact-details__map {
    width: 85%;
    margin-top: 1.5625em;
  }
  .contact-form form {
    width: 80%;
  }
}
@media (max-width: 799px) {
  .section-p1 {
    padding: 2.5em 2.5em;
  }
  .nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -18.75em;
    height: 100vh;
    width: 300px;
    background-color: #e3e6f3;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 5em 0 0 0.625em;
    transition: 0.3s;
  }
  .nav ul.active {
    right: 0em;
  }
  #close {
    display: inline;
    position: absolute;
    top: 1.875em;
    left: 1.875em;
    color: #222;
    font-size: 1.5625em;
  }
  .nav ul li {
    margin-bottom: 1.5625em;
  }
  .nav ul li a:hover,
  .nav ul li a.active {
    font-size: 1em;
  }
  .mobile {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .mobile i {
    color: #1a1a1a;
    font-size: 1.5625em;
    padding-left: 1.25em;
  }
  .nav__menu-bag {
    display: none;
  }
  .hero {
    height: 70vh;
    padding: 0 5em;
    background-position: top 30% right 30%;
  }
  .feature {
    justify-content: center;
  }
  .feature .feature__box {
    margin: 0.9375em 0.9375em;
  }
  .product1 .product-container {
    justify-content: center;
  }
  .product1 .product {
    margin: 0.9375em;
  }
  .banner {
    height: 40vh;
  }
  .sm-banner .banner-box {
    min-width: 100%;
    height: 30vh;
    margin: 15px 0;
  }
  .newsletter .newsletter__form {
    width: 70%;
  }
  .about-principal {
    flex-direction: column;
    align-items: center;
  }
  .about-principal h2 {
    font-size: 1.6875em;
    text-align: center;
  }
  .about-principal img {
    width: 80%;
    margin-bottom: 0.625em;
  }
  .about-app h2 {
    font-size: 1.6875em;
    margin: 0;
  }
  .contact-form form {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1.5625em 0;
  }
}

/*# sourceMappingURL=style.css.map */
